
/* Header style */
header {
    background-color: #007BFF;
    color: #fff;
    text-align: center; 
    padding: 20px;
}

/* Footer style */
footer {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.tooltip {
    position: absolute;
    display: none;
    background-color: white;
    padding: 6px;
    border: 1px solid lightgray;
    color: dimgray;
    font-family: Poppins;
    font-size: 14px;
}

.button-container {
    display: flex;
    justify-content:center;
    padding: 20px
}

button {
    margin: 0;
    padding: 10px 20px;
    font-family: Poppins;
    font-weight: bold;
    opacity: 0.7;
    background-color: white;
    color: #333;
    border: 1px solid lightgray;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: color 0.3s;
    transition: border 0.3s;
}

button:hover {
    background-color: #007BFF;
    color: white;
    border: 1px solid #007BFF;
}

/*Title text style*/
h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: Poppins;
}

/*secondary title style*/
h2 {
    font-size: 22px;
    font-weight: bold;
    font-family: Poppins;
}

/*small detail text style*/
h3 {
    font-size: 10px;
    font-weight: lighter;
    font-family: Poppins;
}

/*Header Title text style*/
h4 {
    font-size: 40px;
    font-weight: bold;
    font-family: Poppins;
}

/* Descriptive text style */
p {
    font-size: 18px;
    font-family: Poppins;
}

/*list object for contributors*/
ul {
    list-style-type: none; /* Remove bullets from the list */
    padding: 0; 
}

/*list text style*/
li {
    font-size: 16px; 
    margin: 5px 0; 
    font-family: Poppins;
}

/* Style for data visualizations */
.visualization {
    margin: 20px; 
    text-align: center; 
}

/* style for intro section */
.introduction {
    margin: 50px;
    text-align: left;
}

/* style for description section */
.description {
    margin: 50px;
    text-align: left;
}

/* svg box style */
svg {
    border: 1px solid #ccc; 
    max-width: 100%; 
}
