
/* Header styles */
header {
    background-color: #007BFF; /* Header background color */
    color: #fff; /* Text color in the header */
    text-align: center; /* Center-align the header content */
    padding: 20px; /* Add some padding to the header */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add drop shadow */
}

footer {
    background-color: #007BFF; /* Header background color */
    color: #fff; /* Text color in the header */
    text-align: center; /* Center-align the header content */
    padding: 20px; /* Add some padding to the header */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add drop shadow */
}

/*Title text */
h1 {
    font-size: 30px; /* Font size for the project name */
    font-weight: bold;
}

/*secondary title*/
h2 {
    font-size: 22px;
    font-weight: bold;
}

/*small detail text*/
h3 {
    font-size: 10px;
    font-weight: lighter;
}

/*for header*/
h4 {
    font-size: 40px;
    font-weight: bold;
}

/* Style for the group members (p and ul) */
p {
    font-size: 18px; /* Font size for the "Group Members" text */
}

ul {
    list-style-type: none; /* Remove bullets from the list */
    padding: 0; /* Remove default padding from the list */
}

li {
    font-size: 16px; /* Font size for the member names */
    margin: 5px 0; /* Add some margin between member names */
}

/* Styles for data visualizations */
.visualization {
    margin: 20px; /* Add margin around each visualization */
    text-align: center; /* Center-align the visualization and description */
}

.introduction {
    margin: 50px;
    text-align: left;
}

.description {
    margin: 50px;
    text-align: left;
}

svg {
    border: 1px solid #ccc; /* Add a border to the SVG */
    max-width: 100%; /* Make sure SVGs don't overflow their containers */
}
